<form class="d-flex" role="search" action="<%= search_path %>" method="get">
  <input class="form-control me-2" type="search" placeholder="User, Brand, Collaboration..." aria-label="Search" name="query">
  <button class="btn-search" type="submit">Search</button>
</form>