// Define variables for your color scheme

// For example:
$red: #c41e21;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #19b570;
$gray: #0e0000;
$light-gray: #f4f4f4;

$black: #333333;

$blue: #4354FA;
$purple: #8D4FFC;
$purple-hover: #6e1efb;

$primary-blue: #5652a7;
$primary-yellow: #FFBE14;
$yellow-hover: #e9a800;
$gray: #6c757d;
$gray-icon: #a6acb2;
$gray-hover: #5c636a;