// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$light-gray: #f4f4f4;

$black: #333333;

$blue: #4354FA;
$purple: #8D4FFC;

$primary-blue: #353CC1;
$primary-yellow: #FFBE14;
$yellow-hover: #e9a800;
$gray: #6c757d;
$gray-hover: #5c636a;
$light-gray: #F4F4F4;