// Import page-specific CSS files here.
@import "home";
@import "show_brands";
@import "show_influencers";

body {
  display: flex;
  margin: 0;
}

.content {
  // padding: 20px;
  width: calc(100% - 280px - 1rem);
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: calc(100% - 80px);
  }
}

.border-b {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}