// Import page-specific CSS files here.
@import "home";

body {
  display: flex;
  margin: 0;
}

.content {
  padding: 20px;
  width: calc(100% - 280px - 1rem);
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: calc(100% - 80px);
  }
}