<div class="container">
  <h1>Home Page</h1>
  <% if user_signed_in? %>
    <div>
      <p>Welcome <%= current_user.first_name %></p>
      <% if current_user.brand? %>
        <%= link_to 'Go to your profile', brand_path(current_user) %>
      <% end %>
    </div>
  <% else %>
    <div>
      <p>Do you havce an account?</p>
      <%= link_to 'Sign In', new_user_session_path %>
    </div>
    <div class="mt-4">
      <p>New here?</p>
      <%= link_to 'Register', new_user_registration_path %>
    </div>
  <% end %>
</div>
