<h1>Submission index page</h1>
<p>As a influencer, I can see all my submissions</p>

<ul>
  <% @submissions.each do |submission| %>
    <li><%= link_to submission.collaboration.title, collaboration_path(submission.collaboration) %></li>
  <% end %>
</ul>
