<div class="container">
  <h1 class="m-4">Collaborations in category: <strong><%= @category %></strong></h1>
  <div class="row mt-4">
    <% @collaborations.each do |collaboration| %>
      <%= render 'components/collaboration_card', collaboration: collaboration %>
    <% end %>
  </div>
  <div class="d-flex justify-content-start mt-4 pt-4">
    <%= link_to 'Back', (request.referrer || lists_path), class: "btn-secondary-sm ms-2" %>
  </div>
</div>