.alert-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  text-align: center;
  pointer-events: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  pointer-events: all;

  &.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  &.alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.alert-alert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  }
