.banner-card {
  position: relative;
  background-size: cover;
  background-position: center 35%;
  height: 55vh;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0.1), rgba(244, 244, 244, 0.3), rgba(244, 244, 244, 1));
    z-index: 1;
  }

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    color: $gray;
  }

  span {
    background: linear-gradient(90deg,rgba(208, 121, 234, 1), rgba(86, 82, 167, 1));
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 4.2rem;
    color: transparent;
    display: inline-block;
    font-family: $title-font;
    letter-spacing: 0.05em;
  }

  .top-h1 {
    padding-top: 10%;
    margin-left: 10%;
  }
}

// BANNER CARD COLLABORATION SHOW 

.banner-top {
  padding-top: 100px;
  position: relative;
  background-size: cover;
  background-position: center;
  border:none;
  height: 600px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0.6) 0%, rgba(244, 244, 244, 1)100%);
    z-index: 1;
    border-radius: inherit;
  }

  * {
    z-index: 2;
    position: relative;
  }
}