.banner-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0 0;
  border:none;
  width: 100%;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0.1) 0%, rgba(244, 244, 244, 1)100%);
    z-index: 1;
    border-radius: inherit;
  }

  .banner-card img {
    width: 100%;
    height: auto;
  }
}